ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}
/* #region header */
.header {
  background-color: #ffffff;
  padding: 24px 156px;
  max-width: 100vp;
}

.header .container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  margin-right: 332px;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-right: 76px;
  width: 115px;
  height: 24px;
}
.logo-studio {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.navigation-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navigation-menu:hover,
.navigation-menu:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}

.address-menu {
  display: flex;
  gap: 40px;
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region section hero */
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: 472px;
  margin-right: 472px;
}

.hero-button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-left: 636px;
  margin-right: 635px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion section hero */

/* #region section key decisions */
.key-decisions {
  margin-top: 120px;
  margin-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.key-decisions-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 156px;
  margin-right: 156px;
  gap: 24px;
}

.key-decisions-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.key-decisions-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion section key decisions */

/* #region section our team */
.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-title {
  max-width: 162px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  margin-left: 639px;
  margin-right: 639px;
}

.our-team-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
}

.card {
  background: #fff;
}
.container-our-team {
  margin: 32px 16px;
}
.card-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* #endregion section our team */

/* #region section our portfolio */
.portfolio {
  /* margin-top: 120px;
  margin-bottom: 120px; */
}
.portfolio .container {
  margin-left: 156px;
  margin-right: 156px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.portfolio-title {
  max-width: 218px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-left: 455px;
  margin-right: 455px;
}
.portfolio-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-menu,
one {
  margin-bottom: 48px;
}
.container-portfolio-card {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.portfolio-card {
  background-color: #fff;
}

.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion section our portfolio */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
  padding-right: 1020px;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
}
/* #endregion footer */
